<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pozdravljeni.</h1>
    <p>
      Organizacija <%= @organization.name %> zahteva dostop do uporabe portala Open Data Velenje.
    </p>
    <p>
      Api organizacije se nahaja na naslovu <%= @organization.url %>
    </p>
    <p>
      Organizacijo lahko kontaktirate na <%= @organization.email %>
    </p>
    <p>
      Lep pozdrav.
    </p>
  </body>
</html>
