<p>Administrator bo pregledal vašo organizacijo</p>
<p>Če se vse sklada z našimi navodili, vas bomo potrdili, v nasprotnem primeru pa vas bomo kontaktirali preko e-pošte z dodatnimi navodili.</p>
<%= link_to 'Domov', root_path %>
