<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <h3>USPELO!</h3>
    <p>Hvala vam za prijavo v sistem. Sistem bo pregledal vaše prejete podatke in vas obvestil preko e-pošte, ki ste jo vpisali. </p>
    <p>Hvala, ker ste povečali bazo naših podatkov!</p>
  </div>
</div>
