<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <h3 class="text-themecolor">Pridružitev projektu</h3>
    <%= image_tag 'velenje-panorama', class: 'img-responsive' %>
    <p class="margin-top-10">
      <strong>Več organizacij. Več podatkov. Več storitev. Več uporabnikov. Večja dodana vrednost za vse.</strong>
    </p>
    <p>
      Organizacij, ki so se pridružili projektu je vedno več in zato vabimo vse, ki želijo svoje podatke deliti, da se nam pridružijo, saj s sodelovanjem in izmenjavo podatkov lahko skupaj zgradimo storitve, ki bodo pomagale vsem prebivalcem MO Velenje. Spodaj je opisan postopek kako pripraviti podatke, da jih boste lahko delili.
    </p>
    <p>
      <strong>Kdo je lastnik podatkov?</strong>
    </p>
    <p>
      Vi ste lastnik podatkov. S priključitvijo se strinjate, da do vaših podatkov lahko dostopajo tudi drugi uporabniki in jih uporabijo za razvoj lastnih storitev. Open data Velenje vam bo poslal pogodbo v kateri, bomo natančno opisali namen uporabe vaših podatkov. Na platformi bomo tudi skrbeli in objavljali le trenutno stanje vaših podatkov. Brez zgodovine.
    </p>
    <p>
      <strong>Ali lahko odstopimo?</strong>
    </p>
    <p>
      Seveda. Želimo uspešno sodelovanje. Če želite deljenje podatkov preklicati, lahko to naredite že v nadzorni plošči platforme.
    </p>
    <p>
      <strong>Kako poteka postopek priključitve?</strong>
    </p>
    <p>
      Ko opravite registracijo in določite tudi lokacijo od kod bomo črpali vaše podatke, vam bomo na podano e-pošto poslali potrdilo o ustreznosti pripravljenih podatkov. V tem času bomo poskrbeli tudi za razumevanje v kakšen namen bodo uporabljeni vaši podatki. v kolikor bodo podatki ustrezno pripravljeni vas bomo obvestili preko e-pošte. Preko postopka vas bomo prosili, da za razvijalce opišete strukturo podatkov. Iz teh informacij bomo pripravili dokumentacijo in jo delili.
    </p>
    <p>
      <strong>Varnost?</strong>
    </p>
    <p>
      Želimo da delite odprte podatke do katerih lahko dostopajo vsi. V kolikor podatkov ne boste želeli več deliti, boste sodelovanje lahko preklicali. Na naši strani bomo poskrbeli, da bo stran zaščitena preko https protokola.
    </p>
    <p>
      <strong>Priprava JSON?</strong>
    </p>
    <p>
      Podatke, ki jih delite naj bodo pripravljeni v JSON obliki. Poleg samih podatkov, želimo da je JSON opremljen tudi s časom zajema podatkov, s pomočjo katerega bomo lahko vedeli starost podatkov oz. frekvenco osveževanja podatkov.
    </p>
    <p>
      <strong>Bodite pozorni na:</strong>
    </p>
    <p>
      Nekaj
    </p>
  </div>
</div>
