<div class="bg bg-1">
  <div class="row page-titles">
  </div>
  <div class="container-fluid">
    <%= display_messages %>
  </div>
  <%= image_tag 'organicity-logo', class: 'organicity-logo' %>
</div>
<div class="container-fluid">
  <div class="row page-titles">
  </div>
  <div class="row">
    <div class="col col-md-12">
      <h2>
        Open Data Velenje
      </h2>
      <div class="box box-primary">
        <div class="box-body">
          <p>
            Podatki nas obkrožajo z vseh strani. S projektom Open data Velenje smo zgradili platformo, kjer lahko številni deležniki v MO Velenje delijo svoje podatke na enostaven način. Cilj projekta je zbrati čim več podatkov odprtega tipa in jih pripraviti v “čitljivo” računalniško obilko. Tako zbrane podatke bodo lahko uporabljali tako posamezniki ali podjetja za gradnjo spletnih storitev, mobilnih aplikacij, avtomatizacijo … saj bodo podatki dostopni preko programskih vmesnikov (angl. API).
          </p>
          <p>
            Tako zbrani podatki in njihovo enostavno posredovanje predstavlja osnovo za grajenje Velenja, kot pametnega mesta.
          </p>
          <p>
            Organizacij, ki so se pridružili projektu je vedno več in vabimo vse, ki želijo svoje podatke deliti, da se nam pridružijo, saj s sodelovanjem in izmenjavo podatkov lahko skupaj zgradimo storitve, ki bodo pomagale vsem prebivalcem MO Velenje.
          </p>
          <p>
            Zato če smatrate, da imate odprte podatke, ki bi lahko pomagale tvoriti pametno mesto Velenje, izberite gumb “Pridruži se proejktu”. Vabljeni, da skupaj soustvarjamo pametno mesto Velenje.
          </p>
          <p>
            Projekt smo soustvarjali s pomočjo organizacije Organicity. <a href="http://organicity.eu/" target="_blank">Več o projektu.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-md-offset-3">
      <%= link_to 'Pridruži se projektu', join_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>
<div class="bg bg-2">
</div>
<div class="container-fluid">
  <div class="row page-titles">
  </div>
  <div class="row">
    <div class="col col-md-12">
      <h2>
        Razvijalci
      </h2>
      <div class="box box-primary">
        <div class="box-body">
          <p>
            Platforma je v prvi vrsti namenjena razvijalcem računalniških storitev. Trenutno na naši platformi ponujamo trenutno stanje podatkov, ki nam jih posreduje organizacija. Preko dokumentacije posamezne organizacije in primera uporabe programski vmesnikov (primer - dodaj link to api pagea) lahko tvorite klice na naš strežnik in boste prejeli podatke.
          </p>
          <p>
            Projekti, ki bodo uporabljali podatke s strani platforme je raznolik. Zato vabimo vse, ki boste podatke uporabljali, da nam posredujete vaše želje in potrebe, da bo razvoj projekta čim lažje. Razvijalci ste ključ do uspeha tega projekta, zato se vam želimo čim bolj posvetiti.
          </p>
          <p>
            Predloge nam pošljite na e-pošrni naslov: <a href="mailto:oc@velenje.si" target="_top">oc@velenje.si</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
