<div class="bg bg-1">
  <div class="container-fluid">
    <div class="row page-titles">
    </div>
    <div class="row">
      <div class="col col-md-6 col-md-offset-3">
        <div class="box box-primary opaque">
          <div class="box-body">
            <h2>Opis projekta</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus magna leo, id ultrices ex porttitor sit amet. Nam fringilla consequat augue, ut posuere dolor blandit sit amet. Nulla egestas lacus cursus nisl condimentum rutrum. Duis at erat placerat, vestibulum sapien ac, consectetur nibh. Mauris vitae fermentum sem, vel tincidunt libero. Maecenas vel eros ac nisl iaculis malesuada. Sed semper mollis ligula ut interdum. Mauris non purus eget metus mattis dapibus posuere quis leo. Cras eget urna massa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag 'organicity-logo', class: 'organicity-logo' %>
</div>
<div class="container-fluid">
  <div class="row page-titles">
  </div>
  <div class="row">
    <div class="col col-md-6 col-md-offset-3">
      <%= link_to 'Pridruži se projektu', new_organization_session_path, class: 'btn btn-primary btn-lg btn-block' %>
      <%= link_to 'Poglej obstoječe organizacije', organizations_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>
<div class="bg bg-2">
  <div class="container-fluid">
    <div class="row page-titles">
    </div>
    <div class="row">
      <div class="col col-md-6 col-md-offset-3">
        <div class="box box-primary opaque">
          <div class="box-body">
            <h2>Podatki</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus magna leo, id ultrices ex porttitor sit amet. Nam fringilla consequat augue, ut posuere dolor blandit sit amet. Nulla egestas lacus cursus nisl condimentum rutrum. Duis at erat placerat, vestibulum sapien ac, consectetur nibh. Mauris vitae fermentum sem, vel tincidunt libero. Maecenas vel eros ac nisl iaculis malesuada. Sed semper mollis ligula ut interdum. Mauris non purus eget metus mattis dapibus posuere quis leo. Cras eget urna massa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
