<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <%= image_tag 'organicity-2', class: 'img-responsive' %>
    <h3>Kaj je Organicity?</h3>
    <p>
      Organicity je storitev za eksperimentiranje, ki raziskuje, kako lahko državljani, podjetja in mestne oblasti sodelujejo pri ustvarjanju digitalnih rešitev za urbane izzive.
    </p>
    <p>
      Organicity temelji na 5 načelih.
    </p>
    <p>
      <strong>Eksperimentiranje.</strong> Vsaka ideja, projekt je preverjena skozi eksperiment, saj se skozi realni eksperiment največ naučimo. Izdelava prototipov v realnem svetu je torej najboljši način za razumevanje učinka in vrednosti ideje.
    </p>
    <p>
      <strong>Iteracija.</strong> Ko se učimo, se izboljšujemo. Vsako dejanje je dokumentirano in ovrednoteno, da bi lahko izvleklo učenja, na katera lahko ukrepamo. Ker vključujemo ljudi v ideje (ki še niso v celoti preizkušene), moramo jasno sporočati, kaj bi morali pričakovati, da bodo naši eksperimenti imeli pomanjkljivosti in neuspehe; ampak da se lahko le z njihovim sodelovanjem izboljšamo.
    </p>
    <p>
      <strong>Soustvarjanje.</strong> Ravno zato sodelujemo z drugimi. V razpravo o ideji ali projektu spodbujamo kogar koli v mestu, ne glede na to, ali to postane eksperimentator ali sodeluje pri eksperimentih drugih ljudi.
    </p>
    <p>
      <strong>Preglednost.</strong> Nimamo ničesar skrivati in si prizadevati, da bi bilo jasno. Eksperimenti so lahko tudi neuspešni, zato želimo, da ljudje vedo, da je to le eden izmed mnogih poizuksov, s katerimi želim izboljšo naše bivanje.
    </p>
    <p>
      <strong>Vključenost.</strong> Naš cilj je vključiti vse v mesto. Glede na to, da so običajno projekti v zgodnjih fazah razvoja, pričakujemo, da bo večina uporabnikov imela nekaj tehnološkega predznanja. Vendar pa želimo v prihodnje rešitve in storitve ponuditi prav vsem.
    </p>
    <a href="http://organicity.eu/" target="_blank">
      <%= image_tag 'organicity-logo', class: 'img-responsive' %>
    </a>
  </div>
</div>
