<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <h3>Kaj je Organicity?</h3>
    <p>
      Organicity je storitev za eksperimentiranje, ki raziskuje, kako lahko državljani, podjetja in mestne oblasti sodelujejo pri ustvarjanju digitalnih rešitev za urbane izzive.
      Organicity temelji na 5 načelih.
      Eksperimentiranje. Vsaka ideja, projekt je preverjena skozi eksperiment, saj se skozi realni eksperiment največ naučimo. Izdelava prototipov v realnem svetu je torej najboljši način za razumevanje učinka in vrednosti ideje.
      Iteracija. Ko se učimo, se izboljšujemo. Vsako dejanje je dokumentirano in ovrednoteno, da bi lahko izvleklo učenja, na katera lahko ukrepamo. Ker vključujemo ljudi v ideje (ki še niso v celoti preizkušene), moramo jasno sporočati, kaj bi morali pričakovati, da bodo naši eksperimenti imeli pomanjkljivosti in neuspehe; ampak da se lahko le z njihovim sodelovanjem izboljšamo.
      Soustvarjanje. Ravno zato sodelujemo z drugimi. V razpravo o ideji ali projektu spodbujamo kogar koli v mestu, ne glede na to, ali to postane eksperimentator ali sodeluje pri eksperimentih drugih ljudi.
      Preglednost. Nimamo ničesar skrivati in si prizadevati, da bi bilo jasno. Eksperimenti so lahko tudi neuspešni, zato želimo, da ljudje vedo, da je to le eden izmed mnogih poizuksov, s katerimi želim izboljšo naše bivanje.
      Vključenost. Naš cilj je vključiti vse v mesto. Glede na to, da so običajno projekti v zgodnjih fazah razvoja, pričakujemo, da bo večina uporabnikov imela nekaj tehnološkega predznanja. Vendar pa želimo v prihodnje rešitve in storitve ponuditi prav vsem.
    </p>
    <%= image_tag 'organicity-logo', class: 'img-responsive' %>
  </div>
</div>
