.page-titles{
  padding: 0px !important;
}

.bg{
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.bg-1{
  background-image: image-url("landing1.jpg");
}

.bg-2{
  background-image: image-url("landing2.jpg");
}

.organicity-logo{
  max-height: 10vw;
  position:absolute;
  bottom:0;
  right:0;
}

.no-margin{
  margin: 0 !important;
}

.opaque{
  background: rgba(0,0,0,0.65);
}
