.page-titles{
  padding: 0px !important;
}

.bg{
    /* The image used */
    /* Full height */
    height: 50vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

    opacity: 0.75;
}

.bg-1{
  background-image: image-url("landing1.jpg");
}

.bg-2{
  background-image: image-url("landing2.jpg");
}

.organicity-logo{
  max-height: 10vw;
  position:absolute;
  bottom:0;
  right:0;
}

.no-margin{
  margin: 0 !important;
}

.opaque{
  background: rgba(0,0,0,0.65);
}

nav.navbar.navbar-default.navbar-static-top.guest {
  background: #0084ff;
  border-color: #0084ff;
}

nav.navbar.navbar-default.navbar-static-top {
  background: #0084ff;
  border-color: #fff;
}

.img-footer{
  float: right;
  max-height: 50px;
}

.white{
  color: white;
}

.navbar-link-center{
  padding-top: 16px;
}

footer.footer{
  padding: 20px 20px 40px 20px;
}

.min-width-200{
  min-width: 200px;
}

.service-box{
  z-index: 0;
}
