<div class="col-md-4 col-sm-6">
  <div class="service-box">
    <div class="service-icon">
      <i class="fa fa-codepen"></i>
    </div>
    <div class="service-content">
      <h3>
        <%= link_to organization.name, organization %>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus, velit nec luctus dictum.
      </p>
    </div>
    <div class="read">
      <%= link_to '+', organization %>
    </div>
  </div>
</div>
