<div>
  <p><%= organization.name %></p>
  <p><%= organization.url %></p>
  <%= link_to 'Edit', edit_organization_registration_path(organization) if current_organization == organization %>
  <%= link_to 'Set api', organization_set_api_path(organization) if current_organization == organization %>
</div>
