<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <h3 class="text-themecolor">Organizacije</h3>
    <p>
      Spodaj opisane storitve so podatki, ki so nam jih posredovale različne organizacije. Podatke smo ločili na manjše dele. Vsaka storitev vsebuje svojo dokumentacijo in prikaz trenutnega stanja podatkov - tudi z osnovno vizualizacijo podatkov.
      Trenutno na naši platformi ponujamo trenutno stanje podatkov, ki nam jih posreduje organizacija. Zgodovina se ne beleži.
    </p>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <%= render @organizations %>
  </div>
</div>
