<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    Spodaj opisane storitve so podatki, ki so nam jih posredovale različne organizacije. Podatke smo ločili na manjše dele. Vsaka storitev vsebuje svojo dokumentacijo in prikaz trenutnega stanja podatkov - tudi z osnovno vizualizacijo podatkov.
    Trenutno na naši platformi ponujamo trenutno stanje podatkov, ki nam jih posreduje organizacija. Zgodovina se ne beleži.
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <%= render @organizations %>
  </div>
</div>
