<div class="col-md-12 col-sm-12">
  <div class="card form-card">
    <div class="card-header">
      <h4 class="card-title m-b-0">Nastavi API dokumentacijo</h4>
    </div>
    <div class="card-body">
      <%= form_for @organization do |f| %>
        <%= create_form_from_payload(@payload,f) %>
      <% end %>
    </div>
  </div>
</div>
