<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <%= link_to 'Nastavi API dokumentacijo', organization_set_api_path(@organization) %>
    <br />
    <%= link_to 'Poglej api', api_v1_organization_path(@organization) %>
  </div>
</div>
