<h2>Naloži excel API</h2>
<p>Vaš API lahko naložite tudi v obliki excel datoteke. Podatki morajo biti vnešeni v našo predlogo, ki jo lahko prenesete tukaj.</p>
<%= form_tag organization_import_excel_api_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Prenesi" %>
<% end %>
