<footer class="footer">
  © 2018 Open Data Velenje
  <%= image_tag 'organicity-logo', class: 'img-responsive img-footer margin-left-10'%>
  <%= image_tag 'mestna-obcina-velenje-logo', class: 'img-responsive img-footer margin-left-10'%>
  <%= image_tag 'sasa-inkubator-logo', class: 'img-responsive img-footer margin-left-10'%>
</footer>
</div>
