<footer class="footer">
  © 2018 Open Data Velenje
  <a href="http://organicity.eu/">
    <%= image_tag 'organicity-logo', class: 'img-responsive img-footer margin-left-10'%>
  </a>
  <a href="http://www.velenje.si/">
    <%= image_tag 'mestna-obcina-velenje-logo', class: 'img-responsive img-footer margin-left-10'%>
  </a>
  <a href="https://www.sasainkubator.si/">
    <%= image_tag 'sasa-inkubator-logo', class: 'img-responsive img-footer margin-left-10'%>
  </a>
  <a href="http://www.scv.si/sl/">
    <%= image_tag 'scv', class: 'img-responsive img-footer margin-left-10'%>
  </a>
</footer>
</div>
