<ul class="nav navbar-top-links navbar-right">
  <!-- /.dropdown -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= image_tag 'default-avatar', class: 'img-responsive img-circle' %>
    </a>
    <ul class="dropdown-menu dropdown-user right-swip">
      <%= display_dropdown_options %>
    </ul>
    <!-- /.dropdown-user -->
  </li>
  <!-- /.dropdown -->
</ul>
